body{
    margin: 0;
}

#header{
    display: flex;
    flex-direction: column;
    background-color: #e36f0b;
    margin: 0px;
}

#logo{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

#logo span{
    color: #fd9f0d;
}

#btt_menu{
    display: none;
}

label[for="btt_menu"]{
    display: none;
    position: absolute;
    padding: 10px;
    color: #ffffff;
    font-size: 50px;
    cursor: pointer;
}

.conteiner{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.conteudo{
    width: 200px;
    margin-left: 50px;
    margin-bottom: 50px;
}

h2{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #fd9f0d;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    float: left;
}

li a, .drop_btt{
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    background-color: #e36f0b;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.redesSociais{
    display: flex;
    justify-content: center;
}
.redesSociais img{
    width: 25px;
    margin: 10px;
}

#img img{max-width: 500px;}

@media(max-width: 800px){

    #header{
        text-align: center;
    }

    label[for="btt_menu"]{
        display: block;
    }

    #nav{
        display: none;
    }

    #nav li{
        float: none;
        text-align: center;
    }

    #nav .dropdown_content{
        position: relative;
    }

    #nav .dropdown_content a{
        text-align: center;
    }

    #btt_menu:checked ~ #nav{
        display: block;
    }

}

@media(max-width: 425px){

    #logo{
        font-size: 25px;
    }

    label[for="btt_menu"]{
        font-size: 40px;
    }

    .conteiner{
        display: block;
    }
    h1{
        display: none;
    }

    #img img{
        width: 95vw;
    }
    #logo{
        width: 95vw;
    }

    #header{
        width: 95vw;
    }
}